<!-- faire une histoire  -->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ma premier page web</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
<body>
    <nav>

    <div id="histoire">

    <header>
        <h1 > <i>Histoire pour enfants</i></h1>
        <img src="{{url_for('static', filename='./img/image1.png')}}"   alt="mon image "/> 
        <p>
            À la recherche de contes ou d’histoires pour enfants ? Heureusement, la littérature jeunesse regorge d’un nombre important de classiques. Storyplay’r vous propose plusieurs contes merveilleux et livres audio pour des petits âgés de 3 à 15 ans. Des histoires de loups, de chevaliers, de dragons, de magie...Les histoires et les contes pour enfants sont indispensables pour stimuler l’imagination des petits. 
        </p>
    </header>

    <section>
        <h2> I) Bienvenue sur Histoires Douces !</h2>
        <p> Ici vous trouverez des histoires uniques, courtes et de tous types, en version texte et en fichier audio, pour lire ou faire écouter à vos petits. Bienveillance, respect, entraide, amour… des autres et de la nature, sont mes lignes de conduites.Ces histoires sont inventées, écrites, illustrées par moi-même : n'hésitez pas à me faire un petit retour sur ce que vous avez aimé, ce qui vous a moins plu, ainsi que sur les réactions de vos enfants !Si vous aimez ces histoires que je mets à disposition gratuitement, vous pouvez si vous le souhaitez, me faire un petit don facilement. Cela m’encouragera et m’aidera à payer l’hébergement du site, le matériel de dessin… </p>
        <ul>
            <li>Lire</li>
            <li>Comprendre</li>
            <li>Ecrire</li>
        </ul>
       
        <p><strong> a) ConnaÎtre l'oiseau</strong></p>
        <p>
            L'oiseau vint dire à la poule : « Poule, tu as des ailes, pourquoi ne peux-tu pas prendre ton envol comme je le fais ? <br>
            — Parce que je n'en suis pas capable », répondit la poule. L'oiseau reprit : « Pourquoi parler ainsi ? Tu as des pattes, des ailes comme les miennes et tout ce qui est dans mon corps est aussi dans le tien. » <br>
            Lorsque la poule l'entendit, vexée, elle se fâcha et ne voulut plus écouter les paroles de l'oiseau : « Va-t'en, dit-elle, coucher dans le désert, laisse-moi dormir dans la maison ; je n'apprécie pas le langage que tu m'as tenu. <br>
            — Puisque tu ne veux pas entendre mes paroles, continua l'oiseau, demain les gens te prendront, te tueront et mangeront ta chair. Tu n'as pas d'intelligence : alors que je viens t'apprendre la sagesse, tu me repousses ! Bientôt, lorsque tu verras les gens venir pour te tuer, peut-être alors m'écouteras-tu. » La poule répondit : « Va-t'en, je n'ai que faire de toi. <br>
            — Très bien », dit l'oiseau en partant se percher sur un arbre. <br>
        </p>
        <img src="../static/img/Pasted image.png" alt="oiseau"/> <br>
        <p> <strong> b)agneau de pâques</strong> </p>
            <p>Petit Agneau est un coquin. Il aime bien taquiner son copain Petit Poussin ! Mais Petit poussin a une très bonne idée pour surprendre le petit agneau…. Se fera-t-il avoir ? Une histoire tendre et amusante sur le thème de Pâques.</p>
        <img src="../static/img/image2.png"" alt="agneau de pâques" /> <br>

        <video src="https://www.youtube.com/watch?v=ut2nzzr7Yxw" controls width="300"> une video à regarder</video>
        <section>
            <a href="https://www.storyplayr.com/thematique/contes-et-classiques" target="blank">Contes et histoires pour enfants, à lire et écouter </a> <br>

        </section>
    </section>
        
        
    </div>
  
  
    </nav>
</body>
</html>

<!-- code terminer  -->